streamlit

openai

langchain
langchain-core
langchain-community
langchain-openai

chromadb

pypdf

pandas
numpy

python-dotenv

speechrecognition

pydantic

tiktoken

sqlalchemy

plotly

watchdog

pytest