streamlit

openai

langchain
langchain-core
langchain-community
langchain-openai

chromadb

pandas
numpy

python-dotenv

speechrecognition

pydantic

tiktoken

faiss-cpu

sqlalchemy

plotly

watchdog

pytest